In [ ]:
#Understanding the variables in Python:-

In [9]:
# Rules for declaring the variables in the Python:
1. No name space while entering the variable name.

ex. first name = 'vibhuti'
print (first name)

SyntaxError: invalid syntax (Temp/ipykernel_8064/4206581643.py, line 2)

In [10]:
firstname = 'vibhuti'
print(firstname)

vibhuti

In [13]:
#2.A variable should not start with a number, but it may end with a number or number may come in between the variable name.
ex. 1name = 'vibhuti'
print (1name)

SyntaxError: invalid syntax (Temp/ipykernel_8064/2255099702.py, line 2)

In [12]:
name1 = 'vibhuti'
print (name1)

vibhuti

In [14]:
#3. A variable name should not contain any special characters i.e. @,$,%,&,*....
ex. name@ = 'vibhuti'
print (name@)

SyntaxError: invalid syntax (Temp/ipykernel_8064/912298882.py, line 2)

In [16]:
name='Vibhuti'
print (name)

Vibhuti

In [18]:
# Introduction to datatypes in Python:
#1. string
#2. List
#3. Numbers ------> integers & Floats (decimals)
#4. Tuple
#5. Dictionaries

In [ ]:
# Classification of datatypes:-
#1. Mutable datatypes :- which can be edited or altered, flexibale in nature.
#2. Inmutable datatypes :- Whiich can not be edited or altered, fixed in nature.

In [ ]:
#Itroduction to string types:-
# Defination :- A string is nothing but a series of characters declared in quotes.
# Classification :- it is inmutable datatype, i.e. fixed in nature.

In [35]:
#How to declare a string:-
#1. single quote
#ex. of single quote
name= 'Vibhti'
print (name)
#2. Double Quote

City = "Delhi" #ex. of double quote
print (City)
#3. Triple quote
country= """India""" #ex. of triple quote
print (country)

Vibhti
Delhi
India